.services_main {
  display: grid;
  grid-template-columns: auto auto auto;
  padding: 2rem 2rem 2rem 2rem;
}

.services_main-item {
  background-color: rgba(243, 239, 239, 0.3);
  text-align: center;
  border-radius: 0.5;
  border: none;
}

.services-header{
    text-align: center;
    text-decoration: underline;
    text-decoration-style: double;
    margin-top: 5rem;
    text-transform: uppercase;
    line-height: 40px;
    font-size: x-large;
    font-weight: bold;
}

@media (max-width: 710px) {
  .services_main{
    grid-template-columns: auto auto;
  }
}
@media (max-width: 480px) {
  .services_main{
    grid-template-columns: auto;
  }
}