.card {
  box-shadow: 0 2px 2px 0 rgba(218, 204, 204, 0.4);
  max-width: 300px;
  max-height: 300px;
  min-height: 250px;
  margin: 2rem 1rem 1rem 2rem;
  padding: 0.5rem 0.5rem 0 0;
  border-radius: 0.5rem;
}

.card-header {
  padding-top: 1rem;
  font-weight: bold;

}

.card-text {
   line-height: 2rem;
   padding-top: 1rem;
   font-weight: lighter;
}


.card-image{
    border: 5px solid #60b1cc;
    background-color: rgb(170, 196, 245,0.5);
    height: 60px;
    margin:auto 20%;
}

@media (max-width: 480px) {
  .card-image{
    width: 100%;
    margin:auto;
  }
}