.how_main {
  display: flex;
  flex-direction: column;
  justify-content: stretch;
  align-items: center;
  margin-top: 2rem;
  background-color: white;
}
h2 {
  justify-self: center;
  
}
.how_main_header {
    margin-top: 2rem;
    margin-left: 2rem;
}

.how_main_btn_grp {
    display: flex;
    margin-top: 0.5rem;
    justify-content: space-evenly;
    align-items: center;
    margin: 2rem;
}
