@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@100&display=swap");
* {
  margin: 0;
  padding: 0;
}

a,
abbr,
acronym,
address,
applet,
article,
aside,
audio,
b,
big,
blockquote,
body,
canvas,
caption,
center,
cite,
code,
dd,
del,
details,
dfn,
div,
dl,
dt,
em,
embed,
fieldset,
figcaption,
figure,
footer,
form,
h1,
h2,
h3,
h4,
h5,
h6,
header,
hgroup,
html,
i,
iframe,
img,
ins,
kbd,
label,
legend,
li,
mark,
menu,
nav,
object,
ol,
output,
p,
pre,
q,
ruby,
s,
samp,
section,
small,
span,
strike,
strong,
sub,
summary,
sup,
table,
tbody,
td,
tfoot,
th,
thead,
time,
tr,
tt,
u,
ul,
var,
video {
  margin: 0;
  padding: 0;
  border: 0;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}
*,
.row {
  box-sizing: border-box;
}
html {
  display: block;
}
*,
*::before,
*::after {
  box-sizing: inherit;
}
*,
*::before,
*::after {
  box-sizing: inherit;
}

body,
html {
  overflow: hidden;
  font-weight: 400;
  line-height: 1.42857143 !important;
  color: #1a181e !important;
  background-color: #fff !important;
  margin: 1rem;
  scroll-behavior: smooth;
  overflow: auto;
  min-height: 500px;
  font-family: 'Josefin Sans', sans-serif;
  font-size: 16px !important;
  letter-spacing: 1px;
}

h1{
  font-size: medium;
  font-weight: 900;
}

h2{
  font-size: medium;
  font-weight: 800;
}
h3{
  font-size: medium;
  font-weight: 700;
}
h4{
  font-size: medium;
  font-weight: 600;
}

h5{
  font-size: medium;
  font-weight: 500;
}
h6{
  font-size: medium;
  font-weight: 400;
}
